<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Enlace a archivo de estilos -->
</head>
<body>
    <header>
            <h1>Incripciones en curso</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/curso">Cursos</a></li>
                <li><a href="/usuario">Usuarios</a></li>
                <li><a href="/producto">Productos</a></li>
                <li><a href="/libro">Libros</a></li>
            </ul>

    </header>
    <h1>DATOS RECIVIDOS</h1>
    <p>los datos recividos son para la incripcion son: </p>
    <p>Nombre: {{nombre}}</p>
    <p>Apellido: {{apellido}}</p>
    <p>La clase seleccionada es: {{clase_seleccionada}}</p>
    <br><br>
    <header>
            <h1>cursos</h1>
        <h1>Gracias por su tiempo</h1>
    </header>
    
</body>
</html>